.pen-wrapper {
    padding: 5% 0% 0% 2%;
    margin: 0 auto;
  }
  
  code { background-color: #e4e3e2; padding: 0 5px; border-radius: 2px; }
  
  /* Chip & Card Styles */

  .chip {
      width: 100%;
      background-color: #fff;
      box-shadow: 0 1px 4px 0 rgba(166, 159, 156, 0);
  /*     border:  solid #d2cfcd; */
      border-radius: 0.8rem;
   
      transition: box-shadow .25s ease;
      overflow: hidden;
     
      margin-bottom: 2px;
      margin-right: 0;
  }
  img{
    border-radius:0.8rem;
    display: block;
  }
  .chip-link {
      display: block;
      text-decoration: none;
  }
  
  .chip-hero {
      float: left;
      max-width: 230px;
      width: 30%;
      height: 230px;
      border-right: 1px solid #d2cfcd;
      transition: opacity .25s ease;
      display: block;
  }
  
  .chip-text {
      float: left;
      width: 70%;
      padding: 1px 20px ;
      text-align: left;
  }
  
  .chip-title {
      margin-block-start: 0.2rem;
    margin-block-end: 0.3rem;
      font-size: 35px;     
      line-height: 1.185;   
      color: #4d403a;
  }
  
  .chip-description {
      font-family: 'myriad-pro', sans-serif;
      font-size: 25px;
      color: #a69f9c;
      transition: color .25s ease;
    margin-top: 0.5rem;
      margin-bottom: 0;
  }
  
  .chip-heading { margin-bottom: 25px; }
  
  .chip:hover { box-shadow: 0 0 8px 0px #d2cfcd; }