.a-box {
    display: inline-block;
    width: 480px;
    text-align: center;
  }

  .img-container {
      height: 460px;
      width: 400px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      /* transform: skew(0deg, -13deg); */
      height: 400px;
     
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 2rem;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 0deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 365px;
      width: 400px;
  }
  
  .collection-text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 280px 20px 20px 20px;
    border-radius: 20px;
    background: rgb(167 232 255);
    margin: -340px 0px 80px 0px;
    line-height: 19px;
   
  }
  
  .collection-text-container h3 {
    margin: 40px 0px 0px 0px;
    color: rgb(57 57 57);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 40px;
  }
  
