.oneaboveall {
  box-sizing: border-box;
  font-size: 62.5%;
  padding: 1.5rem;
  font-family: "Inter", sans-serif;
  padding-bottom: 5rem;
}
@media (max-width: 60em) {
  .oneaboveall {
    padding: 3rem;
 }
}
.grid {
  display: grid;
  width: 9rem;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}
@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
 }
}
.grid__item {
  background-color: #fff;
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}
.card__img {

  display: block;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.card__content {
  display: flex;
  justify-content: center;
}
.card__header {
  padding-top: 15px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
