.product-flow{
    background-color: rgb(237, 244, 251);
    margin-bottom: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}
.product-content{
    margin: 0;
    padding: 4rem 2rem;
}
h1,h4,p{
    margin: 0;
}
.cross{
    height: 11rem;
    width: 5rem;
    cursor: pointer;
}
.prod-img img{
    width: 100%;
    height: 100%;
}
.product-desc{
    display: flex;
    flex-direction: column;
    color: rgb(57, 57, 57);
}
.product-desc h1{
    font-size: 4rem;
    margin-bottom: 1rem;
}
.product-desc h4{
    color: rgb(117, 117, 117);
    font-size: 3rem;
    display: flex;
    align-items: center;
}
.product-desc span{
    color: rgb(30, 122, 242);
    border: 4px solid rgb(30, 122, 242);
    border-radius: 50%;
    margin-left: 2rem;
    outline: none;
    font-size: 3rem;
    font-weight: bold;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.product-desc .price{
    color: rgb(57, 57, 57);
    font-size: 3.4rem;
}
.product-desc p{
    font-size: 2.5rem;
    width: 100%;
    margin: 2rem 0;
}
.delivery-box{
    margin-top: 2rem;
}
.delivery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}
.delivery h1{
    font-size: 2.7rem;;
    text-align: center;
}
.delivery p{
    font-size: 2.7rem;
}

.want-btn{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.want-btn button{
    outline: none;
    cursor: pointer;
    border: none;
    background-color: rgb(30, 122, 242);
    padding: 2rem 3rem;
    font-size: 4rem;
    color: rgb(255,255,255);
    border-radius: 10rem;
}
.product-flow .cross{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.slider-box{
    margin-left: 5rem;
}


/* Ideal Slider */
.ideal-box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 8rem;
    width: 30rem;
    background-color: rgb(255,255,255);
    padding: 1.5rem;
    border-radius: 30px;
    box-shadow: 7px 3px 20px 0px rgba( 0, 0, 0, 0.16);
    margin: 1.5rem;
}
.ideal-box span{
    font-size: 5rem;
    margin-right: 0.5rem;
}
.ideal-box p{
    font-size: 3rem;
}


/* Review Slider */
.review-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 62%;
    background-color: rgb(255,255,255);
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
}
.review-box h1{
    font-size: 3rem;
    font-weight: bolder;
}
.review-box span{
    font-size: 9rem;
    color: #1e7af2;
    letter-spacing: 2rem;
}
.review-box p{
    font-size: 2.3rem;
    margin-top: -4rem;
}