.btnblu{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(30,122,242);
    border-radius: 4rem;
    border: none;
    outline: none;
    margin-bottom: 3rem;
    height: 8rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btnwhite{
    width: 100%;
    color: rgb(38 153 251);
    text-align: center;
    font-size: 2rem;
    background-color: white;
    border-radius: 4rem;
    border: none;
    outline: none;
    margin-bottom: 3rem;
    height: 8rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.circlebtn{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 35px;
    padding-right: 25px;
    padding-left: 25px;
}
.circlebtn img{
    width: 150px;
    height: 150px;
}
.btnskip{
    width: 100%;
    position: absolute;
    bottom : 0;
    left: 0;
}
.btnskip img{
    width: 100%;
}