.otp-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  .otp-page .logo{
    height: 25rem;
  }
  a{
    text-decoration: none;
    color: rgb(223, 231, 239);
    font-size: 3rem;
  }