.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.otp-box {
    display: flex;
    gap: 1rem;
    padding: 4rem 0;
}
.otp-box input{
    border-radius: 50%;
    background-color: rgb(255 ,255 ,255);
    border: 1px solid rgb(38, 153, 251);
    height: 5.5rem;
    width: 5.5rem;
    padding: 1rem;
    outline: none;
    text-align: center;
    font-size: 3rem;
    color: rgb(38, 153, 251);
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}